
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s5">
        <label for="id">Id:</label>
        <br>
        <input placeholder="Placeholder" [(ngModel)]="aluno.id" id="id" type="text" name="id" ngModel>
      </div>
      <div class="input-field col s5">
        <label for="nome">Nome:</label>
        <br>
        <input id="nome" type="text" [(ngModel)]="aluno.nome" name="nome" ngModel>
      </div>
      <div class="input-field col s5">
        <label for="id">Email:</label>
        <br>
        <input id="email" type="text" [(ngModel)]="aluno.email" name="email " ngModel>
      </div>
    </div>
  </form>
</div>
